* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    /* border: 1px solid black; */
}

body {
  font-family: "Lato", sans-serif;

}


.container {
  background-color:beige;
  display: grid;
  text-align: center;
  grid-template-columns: 300px 1fr;
  height: 100vh;

}
.sidebar {
    background-color: rgb(250, 218, 176);
    display: grid;
    grid-template-rows: 300px 1fr;

}

.main-page {
    display: grid;
    grid-template-rows: 150px 1fr;
    background-color:beige;
    

}

/**** Dialog Styling ****/
  /*   Open state of the dialog  */
  dialog[open] {
    opacity: 1;
    /* transform: scaleY(1); */
  }
  
/*   Closed state of the dialog   */
dialog {
    opacity: 0;
    /* transform: scaleY(0); */
    transition:
      opacity 0.5s ease-out,
      transform 0.5s ease-out,
      overlay 0.5s ease-out allow-discrete,
      display 0.5s ease-out allow-discrete;
    /* Equivalent to
    transition: all 0.7s allow-discrete; */
    
    border: none;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: clamp(20vh, 200px, 50vh);
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;

  }

  /* Transition the :backdrop when the dialog modal is promoted to the top layer */
dialog::backdrop {
    background-color: rgb(0 0 0 / 0%);
    transition:
      display 0.5s allow-discrete,
      overlay 0.5s allow-discrete,
      background-color 0.5s;
    /* Equivalent to
    transition: all 0.7s allow-discrete; */
  }
  
dialog[open]::backdrop {
    background-color: rgb(0 0 0 / 25%);
  }

#dialogBase {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.inputs {
    display: grid;
    grid-template-columns: 100px 1fr;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 5px;
    gap: 10px;
}


#projDescription, #taskDescription {
  resize: none;
}

/**************** Project List ************/
.add-project-btn {
  font-size: 1.5rem;
  background-color:rgb(255, 240, 220);
  padding: 5px;
  border-radius: 12px;
  margin: 10px;
}

.project-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}

.projDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  font-size: 1.5rem;
  background-color:bisque;
  padding: 5px;
  border-radius: 12px;
  margin: 10px;
  border: 1px solid black;


}

.projSelfBtn {
  /* display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px; */
  font-size: 1.5rem;
  background-color:bisque;
  border: none; 
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 200px;
}
.add-project-btn:hover {
  filter: invert(0.2);
}

.projDiv:hover {
  color: red;
}

.projSelfBtn:hover {
  color: red;

}


.projDelBtn:hover {
  filter: invert(0.5);
}

.proj-header {
  display: flex;
  flex-direction: column;
}

#proj-title {
  font-size: 3rem;
  margin: 5px;
  padding-left: 10px;
  background-color:beige;
  border: none;
  width: calc(100% - 50px);
  min-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
 }

#proj-desc {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  margin: 5px;
  padding-left: 20px;
  background-color:beige;
  width: calc(100% - 50px);
  border: none;
  resize: none;
  min-width: 200px;
  
}

.proj-name {
  font-size: 0.8rem;
  color: grey;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: calc(100% - 5px);
}


/* To do container */

.add-to-do-btn {
  font-size: 1.5rem;
  background-color:bisque;
  padding: 5px 25px;
  border-radius: 12px;
  align-self: flex-end;
  margin: 25px 80px 5px 5px;
  
}

.add-to-do-btn:hover {
  filter: invert(0.1);
}
.to-do-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  border-top: 1px solid gray;
  
 
}

.taskDiv {
  padding: 15px;
  margin: 5px 30px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
  min-width: 300px;
  width: calc(100% - 50px);
  max-width: 1000px;
  background-color:bisque;
  border-radius: 15px;
  
}

.task-title-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 5px;
  background-color:bisque;
  width: calc(100% - 10px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

}


.due-date {
  min-width: 150px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;
  margin: 12px 4px 0 0;
}

.prio-flag {
  margin: 15px 0 0 0;
  
}

.status-input {
  
  transform: scale(1.5);
  margin: 18px 0 15px 5px;

}

.edit-del-div {
  display: flex;
  justify-content: space-around;
  margin: 12px 0 0 0;
    
}


.editBtn:hover {
  filter: invert(0.5);
}

.delBtn:hover {
  filter: invert(0.5);
}

.to-do-title {
  margin: 0;
  padding: 5px;
  width: 100%;
  background-color:bisque;
  text-align: left;
  border: none;
  cursor: pointer;
  max-width: 400px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.to-do-title:hover {
  filter: brightness(1.05);
}

.to-do-desc {
  padding: 5px;
  margin: 0;
  display: none;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: rgb(255, 242, 226);
  min-height: 3rem;
  width: 100%;
  resize: vertical;
  border: none;

}



/** Fonts **/
.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}
