* {
    margin: 0;
    padding: 0;
}

div {
    border: 1px solid black;
}

body {
    background-color:beige;
    display: grid;
    grid-template-columns: 300px 1fr;
    height: 100vh;
}



.sidebar {
    background-color: rgb(250, 218, 176);
    display: grid;
    grid-template-rows: 300px 1fr;
}

.main-page {
    display: grid;
    grid-template-rows: 150px 1fr;
}

/**** Dialog Styling ****/
  /*   Open state of the dialog  */
  dialog[open] {
    opacity: 1;
    /* transform: scaleY(1); */
  }
  
/*   Closed state of the dialog   */
dialog {
    opacity: 0;
    /* transform: scaleY(0); */
    transition:
      opacity 0.5s ease-out,
      transform 0.5s ease-out,
      overlay 0.5s ease-out allow-discrete,
      display 0.5s ease-out allow-discrete;
    /* Equivalent to
    transition: all 0.7s allow-discrete; */
    
    border: none;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: clamp(20vh, 200px, 50vh);
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;

  }

  /* Transition the :backdrop when the dialog modal is promoted to the top layer */
dialog::backdrop {
    background-color: rgb(0 0 0 / 0%);
    transition:
      display 0.5s allow-discrete,
      overlay 0.5s allow-discrete,
      background-color 0.5s;
    /* Equivalent to
    transition: all 0.7s allow-discrete; */
  }
  
dialog[open]::backdrop {
    background-color: rgb(0 0 0 / 25%);
  }

#dialogBase {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.inputs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

input {
    width: 100%;    
}

input[type="number"] {
    margin-right: 0;
    margin-left: auto;
    width: 50px;
}

/* Project List */
.project-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.projDiv {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.proj-title {
  font-size: 3rem;
}

.proj-desc {
  font-size: 1rem;
}

/* To do container */
.to-do-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.taskDiv {
  padding: 5px;
  margin: 5px;
}

.task-title-div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.status-input {
  transform: scale(1.5);
  margin: 5px;
}

.edit-del-div {
  display: flex;
  justify-content: space-around;
}